<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict>
<key>CFBundleDisplayName</key><string>KidKeep Learn</string>
<key>CFBundleIdentifier</key><string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
<key>CFBundleName</key><string>$(PRODUCT_NAME)</string>
<key>CFBundleShortVersionString</key><string>1.0.0</string>
<key>CFBundleVersion</key><string>1</string>
<key>UILaunchScreen</key><dict><key>UIColorName</key><string>LaunchBackground</string></dict>
<key>NSCameraUsageDescription</key><string>KidKeep Learn uses the camera to capture child, staff, care, and program photos when you choose to take one.</string>
<key>NSPhotoLibraryUsageDescription</key><string>KidKeep Learn lets you choose photos and documents to upload to your program.</string>
<key>NSPhotoLibraryAddUsageDescription</key><string>KidKeep Learn can save photos you choose to capture.</string>
<key>UIApplicationSupportsIndirectInputEvents</key><true/>
<key>UISupportedInterfaceOrientations</key><array><string>UIInterfaceOrientationPortrait</string><string>UIInterfaceOrientationLandscapeLeft</string><string>UIInterfaceOrientationLandscapeRight</string></array>
</dict></plist>
